/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app{
    background-color: #F2EAE2;  
    /* padding: 5.625rem 21.875rem 0 ; */
    padding-top: 9rem;
    position: relative;
}
.app__contents {
    display: flex;
    width: 37.5rem;
    height: 28.125rem;
    border-radius: 0.625rem;
    
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -21.290rem; 

}
.app__image-desktop {
    width: 18.75rem;
    height: 28.125rem;
    object-fit: cover;
    border-top-left-radius: 0.625rem;
    border-bottom-left-radius: 0.625rem;
}

.app__image-mobile {
    display: none;
}
.app__details {
    background-color: #FFF;
    padding: 2rem;
    border-top-right-radius: 0.625rem;
    border-bottom-right-radius: 0.625rem;
}

.perfume {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.313rem;
    color: #6C7289;
    text-transform: uppercase;
}

.header {
    font-family: 'Fraunces', serif;
    margin: 1.25rem 0 1.3rem;
    font-size: 2rem;
}

.description {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.438rem;
    color: #6C7289;

}
.price {
    display: flex;
    margin: 1.813rem 0 1.25rem;
    align-items: center;
}
.price__discount {
    font-family: 'Fraunces', serif;
    margin-right: 1.188rem;
    color: #3D8168;
    font-size: 2rem;
    font-weight: 700;
}

.price__ex {
    font-family: 'Montserrat', sans-serif;
    text-decoration: line-through;
    color: #6C7289;
    font-size: 0.813rem;
    font-weight: 500;
    line-height: 1.438rem;
}

.btn {
    display: flex;
    background-color: #3D8168;
    width: 14.75rem;
    height: 3rem;
    border: none;
    align-items: center;
    justify-content: center;
    gap: 0.726rem;
    color: #FFF;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
}

.btn:hover {
    background-color: #1A4032;
    cursor: pointer;
    transition: all 0.2s;
}

.btn__cart {
}

.btn__text {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.875rem;
    font-weight: 700;
    
}


/* Media queries */

@media(max-width: 42.5rem) {
    .app__contents {
        flex-direction: column;
        width: 23.438rem;
        height: 41.688rem;
        margin: 1.75rem 1rem 1.75rem -11.25rem;
    }

    .app__image-desktop {
        display: none;
    }

    .app__image-mobile {
        display: block;
        width: 23.438rem;
        height: 23.438rem;
        border-top-left-radius: 0.625rem;
        border-top-right-radius: 0.625rem;
    }

    .app__details {
        border-bottom-left-radius: 0.625rem;
        border-top-right-radius: 0;
    }
}